/*
////////////////////////////////////////////////////////////////////////////////
//
//  ADOBE SYSTEMS INCORPORATED
//  Copyright 2009 Adobe Systems Incorporated
//  All Rights Reserved.
//
//  NOTICE: Adobe permits you to use, modify, and distribute this file
//  in accordance with the terms of the license agreement accompanying it.
//
////////////////////////////////////////////////////////////////////////////////
*/

/*
    This style sheet should be used if you would like to use the new
    Flash Text Engine (FTE) and Text Layout Framework (TLF) text in your Halo
    controls.  FTE/TLF provides text editing with high-quality international
    typography and layout.  It supports displaying left-to-right (ltr) text such 
    as French, right-to-left (rtl) text such as Arabic, and bidirectional text
    such as a French phrase inside of an Arabic one.

    You should not modify this file.

    You use this style sheet by applying it as theme to your application.

    Alternatively you may apply this style sheet in your application with
        <fx:Style source="path/MXFTEText.css" />
    but you will see compiler warnings for any unused selectors.
*/

@namespace "library://ns.adobe.com/flex/halo";
@namespace s "library://ns.adobe.com/flex/spark";


s|MXFTETextInput
{
	skinClass: ClassReference("spark.skins.spark.TextInputSkin");
}

AlertForm
{
	textFieldClass: ClassReference("mx.core.UIFTETextField");
}

Button
{
	textFieldClass: ClassReference("mx.core.UIFTETextField");
}

CalendarLayout
{
	textFieldClass: ClassReference("mx.core.UIFTETextField");
}

ColorPicker
{
	textFieldClass: ClassReference("mx.core.UIFTETextField");
	textInputClass: ClassReference("mx.controls.MXFTETextInput");
}

ComboBox
{
	textFieldClass: ClassReference("mx.core.UIFTETextField");
	textInputClass: ClassReference("mx.controls.MXFTETextInput");
}

DataGrid
{
	defaultDataGridItemEditor: ClassReference("mx.controls.MXFTETextInput");
	defaultDataGridItemRenderer: ClassReference("mx.controls.dataGridClasses.FTEDataGridItemRenderer");
}

DateChooser
{
	textFieldClass: ClassReference("mx.core.UIFTETextField");
}

DateField
{
	textInputClass: ClassReference("mx.controls.MXFTETextInput");
}

Label
{
	textFieldClass: ClassReference("mx.core.UIFTETextField");
}

ListItemRenderer
{
	textFieldClass: ClassReference("mx.core.UIFTETextField");
}

MenuBarItem
{
	textFieldClass: ClassReference("mx.core.UIFTETextField");
}

MenuItemRenderer
{
	textFieldClass: ClassReference("mx.core.UIFTETextField");
}

NumericStepper
{
	textInputClass: ClassReference("mx.controls.MXFTETextInput");
}

Panel
{
	textFieldClass: ClassReference("mx.core.UIFTETextField");
}

ProgressBar
{
	textFieldClass: ClassReference("mx.core.UIFTETextField");
}

SwatchPanel
{
	textInputClass: ClassReference("mx.controls.MXFTETextInput");
}

TileListItemRenderer
{
	textFieldClass: ClassReference("mx.core.UIFTETextField");
}

TreeItemRenderer
{
	textFieldClass: ClassReference("mx.core.UIFTETextField");
}

ToolTip
{
	textFieldClass: ClassReference("mx.core.UIFTETextField");
}
