/*
////////////////////////////////////////////////////////////////////////////////
//
//  ADOBE SYSTEMS INCORPORATED
//  Copyright 2009 Adobe Systems Incorporated
//  All Rights Reserved.
//
//  NOTICE: Adobe permits you to use, modify, and distribute this file
//  in accordance with the terms of the license agreement accompanying it.
//
////////////////////////////////////////////////////////////////////////////////
*/

/*
    This style sheet configures many -- but not all -- MX components
    to use the new Flash Text Engine (FTE) and Text Layout Framework (TLF)
    to display and edit text, rather than using the older TextField class.

    If you are using the command-line MXML compiler, you should apply
    this style sheet as one of the themes for your application:

        mxmlc -theme+=frameworks/projects/spark/MXFTEText.css MyApp.mxml

    FTE and TLF provide text rendering and editing
    with high-quality international typography and layout.
    They support displaying left-to-right (ltr) text such as French,
    right-to-left (rtl) text such as Arabic, and bidirectional text
    such as a French phrase inside of an Arabic sentence.
    FTE and TLF are used for all text rendering in Spark components.

    By using this style sheet, your MX and Spark components can use
	the same embedded font; otherwise, you have to embed a font twice,
	once with embedAsCFF="true" for Spark components using FTE/TLF
	and once with embedAsCFF="false" for MX components using TextField.

    Note: The <mx:TextInput>, <mx:TextArea>, and <mx:RichTextEditor>
	components are not supported by this style sheet, because the
	FTETextField class does not support all the functionality
	that TextField supports.
	You should use the <s:TextInput>, <s:TextArea>, and <s:RichEditableText>
	components instead if you require FTE/TLF text.

    You should not modify this file.
*/

@namespace "library://ns.adobe.com/flex/mx";
@namespace s "library://ns.adobe.com/flex/spark";


s|MXFTETextInput
{
	skinClass: ClassReference("spark.skins.spark.TextInputSkin");
}

AlertForm
{
	textFieldClass: ClassReference("mx.core.UIFTETextField");
}

Button
{
	textFieldClass: ClassReference("mx.core.UIFTETextField");
}

CalendarLayout
{
	textFieldClass: ClassReference("mx.core.UIFTETextField");
}

ColorPicker
{
	textFieldClass: ClassReference("mx.core.UIFTETextField");
	textInputClass: ClassReference("mx.controls.MXFTETextInput");
}

ComboBox
{
	textFieldClass: ClassReference("mx.core.UIFTETextField");
	textInputClass: ClassReference("mx.controls.MXFTETextInput");
}

DataGrid
{
	defaultDataGridItemEditor: ClassReference("mx.controls.MXFTETextInput");
	defaultDataGridItemRenderer: ClassReference("mx.controls.dataGridClasses.FTEDataGridItemRenderer");
}

DateChooser
{
	textFieldClass: ClassReference("mx.core.UIFTETextField");
}

DateField
{
	textInputClass: ClassReference("mx.controls.MXFTETextInput");
}

Label
{
	textFieldClass: ClassReference("mx.core.UIFTETextField");
}

ListItemRenderer
{
	textFieldClass: ClassReference("mx.core.UIFTETextField");
}

MenuBarItem
{
	textFieldClass: ClassReference("mx.core.UIFTETextField");
}

MenuItemRenderer
{
	textFieldClass: ClassReference("mx.core.UIFTETextField");
}

NumericStepper
{
	textFieldClass: ClassReference("mx.core.UIFTETextField");
	textInputClass: ClassReference("mx.controls.MXFTETextInput");
}

Panel
{
	textFieldClass: ClassReference("mx.core.UIFTETextField");
}

ProgressBar
{
	textFieldClass: ClassReference("mx.core.UIFTETextField");
}

SwatchPanel
{
	textInputClass: ClassReference("mx.controls.MXFTETextInput");
}

TileListItemRenderer
{
	textFieldClass: ClassReference("mx.core.UIFTETextField");
}

TreeItemRenderer
{
	textFieldClass: ClassReference("mx.core.UIFTETextField");
}

ToolTip
{
	textFieldClass: ClassReference("mx.core.UIFTETextField");
}
