@namespace "library://ns.adobe.com/flex/mx";

Menu, Panel, TitleWindow 
{
	dropShadowVisible: true;
}

List.comboDropdown
{
	dropShadowVisible: true;
}

VideoDisplay
{
	contentBackgroundColor: #000000;
}