/*
///////////////////////////////////////////////////////////////////////////////
//
//  Copyright ("C") 2003-2005 Macromedia, Inc. All Rights Reserved.
//  The following is Sample Code and is subject to all restrictions
//  on such code as contained in the End User License Agreement
//  accompanying this product.
//
///////////////////////////////////////////////////////////////////////////////
*/

/**
//------------------------------
//   DataTip
//------------------------------
*/

DataTip
{
	backgroundColor: #FFFFFF;
}
