/*
////////////////////////////////////////////////////////////////////////////////
//
//  ADOBE SYSTEMS INCORPORATED
//  Copyright 2008 Adobe Systems Incorporated
//  All Rights Reserved.
//
//  NOTICE: Adobe permits you to use, modify, and distribute this file
//  in accordance with the terms of the license agreement accompanying it.
//
////////////////////////////////////////////////////////////////////////////////
*/

@namespace "library://ns.adobe.com/flex/spark";

/*
Default Mobile Flex skins and styles. Defaults sizes are based on
application-dpi=240.
*/

ActionBar
{
    color: #FFFFFF;
    chromeColor: #484848;
    skinClass: ClassReference("spark.skins.mobile.ActionBarSkin");
    textShadowAlpha: .65;
    textShadowColor: #000000;
}

ActionBar #titleDisplay
{
    fontSize: 28;
    fontWeight: bold;
}

ActionBar Group#navigationGroup Button
{
    skinClass: ClassReference("spark.skins.mobile.NavigationButtonSkin");
}

ActionBar Group#navigationGroup Button.ios
{
    fontSize: 18;
    skinClass: ClassReference("spark.skins.mobile.NavigationBackButtonSkin");
}

ActionBar Group#actionGroup Button
{
    skinClass: ClassReference("spark.skins.mobile.ActionButtonSkin");
}

ActionBar Group#actionGroup Button.ios
{
    fontSize: 18;
    skinClass: ClassReference("spark.skins.mobile.ActionRoundedButtonSkin");
}

Application
{
    backgroundColor: #FFFFFF;
    skinClass: ClassReference("spark.skins.spark.ApplicationSkin");
}

BorderContainer
{
    backgroundColor: #FFFFFF;
    borderStyle : "solid"; 
    cornerRadius: 0;
    skinClass: ClassReference("spark.skins.spark.BorderContainerSkin");
}

Button
{
    fontWeight: "bold";
    skinClass: ClassReference("spark.skins.mobile.ButtonSkin");
}

Button.emphasized
{
    skinClass: ClassReference("spark.skins.mobile.DefaultButtonSkin");
}

ButtonBar
{
    fontWeight: "bold";
    skinClass: ClassReference("spark.skins.mobile.ButtonBarSkin");
}

ButtonBase
{
    iconPlacement: "left";
}

CheckBox
{
    skinClass: ClassReference("spark.skins.mobile.CheckBoxSkin");
}

ComboBox
{
    dropShadowVisible: true;
    paddingBottom: 3;
    paddingLeft: 3;
    paddingRight: 3;
    paddingTop: 5;
    skinClass: ClassReference("spark.skins.spark.ComboBoxSkin");
}

DropDownList
{
    skinClass: ClassReference("spark.skins.spark.DropDownListSkin");
}

HScrollBar
{
    skinClass: ClassReference("spark.skins.mobile.HScrollBarSkin");
}

HSlider
{
    skinClass: ClassReference("spark.skins.mobile.HSliderSkin");
}

IconItemRenderer
{
	paddingBottom: 12;
	paddingTop: 12;
	horizontalGap: 10;
	verticalGap: 9;
	iconDelay: 500;
	messageStyleName: "iconItemRendererMessageStyle";
}

.iconItemRendererMessageStyle
{
    fontSize: 20;
    color: #333333;
}

LabelItemRenderer
{
    paddingBottom: 24;
    paddingLeft: 15;
    paddingRight: 15;
    paddingTop: 24;
    verticalAlign: "middle";
    selectionColor: #70B2EE;
}

List
{
    skinClass: ClassReference("spark.skins.mobile.ListSkin");
    touchDelay: 100;
    borderColor: #000000;
    borderAlpha: 1;
    verticalScrollPolicy: on;
	borderVisible: false;
}

MuteButton
{
    skinClass: ClassReference("spark.skins.spark.mediaClasses.normal.MuteButtonSkin");
}

NumericStepper
{
    skinClass: ClassReference("spark.skins.spark.NumericStepperSkin");
}

Panel
{
    backgroundColor: #FFFFFF;
    borderAlpha: 0.5;
    borderColor: 0;
    cornerRadius: 0;
    dropShadowVisible: true;
    skinClass: ClassReference("spark.skins.spark.PanelSkin");
}

RadioButton
{
    skinClass: ClassReference("spark.skins.mobile.RadioButtonSkin");
}

Scroller
{
    touchDelay: 100;
    skinClass: ClassReference("spark.skins.spark.ScrollerSkin");
}

ScrubBar
{
    skinClass: ClassReference("spark.skins.spark.mediaClasses.normal.ScrubBarSkin");
}

SkinnableDataContainer
{
    skinClass: ClassReference("spark.skins.spark.SkinnableDataContainerSkin");
}

SkinnableComponent
{
    errorSkin: ClassReference("spark.skins.spark.ErrorSkin");
    focusSkin: ClassReference("spark.skins.spark.FocusSkin");
}

SkinnableContainer
{
    backgroundColor: #FFFFFF;
    skinClass: ClassReference("spark.skins.mobile.SkinnableContainerSkin");
}

SkinnableTextBase:normalWithPrompt 
{
    color: #BABABA;
    fontStyle: normal;
}

SkinnableTextBase:disabledWithPrompt 
{
    color: #BABABA;
    fontStyle: normal;
}

Spinner
{
    skinClass: ClassReference("spark.skins.spark.SpinnerSkin");    
}

TabbedViewNavigatorApplication
{
    backgroundColor: #FFFFFF;
    skinClass: ClassReference("spark.skins.mobile.TabbedViewNavigatorApplicationSkin");
}

TabbedViewNavigator
{
    skinClass: ClassReference("spark.skins.mobile.TabbedViewNavigatorSkin");
}

TabbedViewNavigator #tabBar
{
    chromeColor: #484848;
    color: #FFFFFF;
    fontSize: 20;
    fontWeight: normal;
    iconPlacement: top;
    interactionMode: mouse;
    skinClass: ClassReference("spark.skins.mobile.TabbedViewNavigatorButtonBarSkin");
    textShadowAlpha: .65;
    textShadowColor: #000000;
}

TextArea
{
    paddingBottom: 9;
    paddingLeft: 9;
    paddingRight: 9;
    paddingTop: 9;
    skinClass: ClassReference("spark.skins.mobile.TextAreaSkin");
}

TextArea VScrollBar
{
    skinClass: ClassReference("spark.skins.mobile.supportClasses.TextAreaVScrollBarSkin");
}

TextArea HScrollBar
{
    skinClass: ClassReference("spark.skins.mobile.supportClasses.TextAreaHScrollBarSkin");
}

TextInput
{
    paddingBottom: 9;
    paddingLeft: 9;
    paddingRight: 9;
    paddingTop: 9;
    skinClass: ClassReference("spark.skins.mobile.TextInputSkin");
}

TitleWindow
{
    borderAlpha: 0.8;
    borderColor: 0;
    cornerRadius: 0;
    dropShadowVisible: true;
    skinClass: ClassReference("spark.skins.spark.TitleWindowSkin");
}

ToggleButton
{
    skinClass: ClassReference("spark.skins.spark.ToggleButtonSkin");
}

VideoPlayer
{
    dropShadowVisible: true;
    skinClass: ClassReference("spark.skins.spark.VideoPlayerSkin");
}

View
{
    backgroundColor: #FFFFFF;
    skinClass: ClassReference("spark.skins.mobile.SkinnableContainerSkin");
}

ViewMenu
{
    skinClass: ClassReference("spark.skins.mobile.ViewMenuSkin");
}

ViewMenuItem
{ 
    iconPlacement : "top";
    chromeColor : #FFFFFF;
    paddingBottom: 8;
    paddingLeft: 8;
    paddingRight: 8;
    paddingTop: 8;
    skinClass : ClassReference("spark.skins.mobile.ViewMenuItemSkin");
    textAlign : "center";
    verticalAlign: "middle";
    verticalGap: 10;
}

ViewNavigator
{
    skinClass: ClassReference("spark.skins.mobile.ViewNavigatorSkin");
}

ViewNavigatorApplication
{
    backgroundColor: #FFFFFF;
    skinClass: ClassReference("spark.skins.mobile.ViewNavigatorApplicationSkin");
}

VolumeBar
{
    skinClass: ClassReference("spark.skins.spark.mediaClasses.normal.VolumeBarSkin");
}

VScrollBar
{
    skinClass: ClassReference("spark.skins.mobile.VScrollBarSkin");
}

VSlider
{
    skinClass: ClassReference("spark.skins.spark.VSliderSkin");
}

global
{
    /* framework styles */
    modalTransparency: 0;
    modalTransparencyBlur: 0;

    /* Looks */
    backgroundAlpha : 1;
    backgroundImageFillMode : "scale";
    borderVisible : true;
    borderWeight : 1;
    contentBackgroundColor: #F0F0F0;
    downColor: #70B2EE; /* set in here and not in framework's default.css because it only is really applicable for touch interactions*/
    focusThickness: 3;
    symbolColor: #000000;
    fontLookup: "embeddedCFF";
    fontFamily: "_sans";
    fontSize: 24;
    color: #000000;
    textShadowColor: #FFFFFF;
    textShadowAlpha: .55;
    
    /* Behaviors */
    autoThumbVisibility: true;
    fixedThumbSize: false;
    fullScreenHideControlsDelay: 3000;
    interactionMode: "touch";
    liveDragging: true;
    rollOverOpenDelay: 200;
    slideDuration: 300;
    smoothScrolling: true;
    touchDelay: 0; /* default to 0 here, but Scroller sets it to 100 */
}

@media (application-dpi: 160)
{
    ActionBar #titleDisplay
    {
        fontSize: 18pt;
    }

    ActionBar Group#navigationGroup Button.ios
    {
        fontSize: 12;
    }
    
    ActionBar Group#actionGroup Button.ios
    {
        fontSize: 12;
    }
    
	IconItemRenderer
	{
		paddingBottom: 8;
		paddingTop: 8;
		horizontalGap: 8;
		verticalGap: 6;
	}

	.iconItemRendererMessageStyle
	{
		fontSize: 13;
	}


    LabelItemRenderer
    {
        paddingBottom: 16;
        paddingLeft: 10;
        paddingRight: 10;
        paddingTop: 16;
    }

    TextArea
    {
        paddingBottom: 6;
        paddingLeft: 6;
        paddingRight: 6;
        paddingTop: 6;
    }
    
    TextInput
    {
        paddingBottom: 6;
        paddingLeft: 6;
        paddingRight: 6;
        paddingTop: 6;
    }
    
    TabbedViewNavigator #tabBar
    {
        fontSize: 14;
    }
    
    global
    {
        fontSize: 16pt;
        focusThickness: 2;
    }
}

@media (application-dpi: 320)
{
    ActionBar #titleDisplay
    {
        fontSize: 36pt;
    }

    ActionBar Group#navigationGroup Button.ios
    {
        fontSize: 24;
    }
    
    ActionBar Group#actionGroup Button.ios
    {
        fontSize: 24;
    }
    
	IconItemRenderer
	{
		paddingBottom: 16;
		paddingTop: 16;
		horizontalGap: 16;
		verticalGap: 12;
	}

	.iconItemRendererMessageStyle
	{
		fontSize: 26;
	}

    LabelItemRenderer
    {
        paddingBottom: 32;
        paddingLeft: 20;
        paddingRight: 20;
        paddingTop: 32;  
    }

    TextArea
    {
        paddingBottom: 12;
        paddingLeft: 12;
        paddingRight: 12;
        paddingTop: 12;
    }
    
    TextInput
    {
        paddingBottom: 12;
        paddingLeft: 12;
        paddingRight: 12;
        paddingTop: 12;
    }

    TabbedViewNavigator #tabBar
    {
        fontSize: 28;
    }
    
    global
    {
        fontSize: 32pt;
    }
}