/*
////////////////////////////////////////////////////////////////////////////////
//
//  ADOBE SYSTEMS INCORPORATED
//  Copyright 2008 Adobe Systems Incorporated
//  All Rights Reserved.
//
//  NOTICE: Adobe permits you to use, modify, and distribute this file
//  in accordance with the terms of the license agreement accompanying it.
//
////////////////////////////////////////////////////////////////////////////////
*/

@namespace "library://ns.adobe.com/flex/spark";

/* Default Skins */

Application
{
	skinClass: ClassReference("spark.skins.wireframe.ApplicationSkin");
}

Button
{
	skinClass: ClassReference("spark.skins.wireframe.ButtonSkin");
}

Button.emphasized
{
	skinClass: ClassReference("spark.skins.wireframe.DefaultButtonSkin");
}

ButtonBar 
{
	skinClass: ClassReference("spark.skins.wireframe.ButtonBarSkin");
}

CheckBox
{
	skinClass: ClassReference("spark.skins.wireframe.CheckBoxSkin");
}

DropDownList
{
	skinClass: ClassReference("spark.skins.wireframe.DropDownListSkin");
}

HScrollBar
{
    skinClass: ClassReference("spark.skins.wireframe.HScrollBarSkin");
}

HSlider
{
    skinClass: ClassReference("spark.skins.wireframe.HSliderSkin");
}

List
{
	skinClass: ClassReference("spark.skins.wireframe.ListSkin");
}

MuteButton
{
    skinClass: ClassReference("spark.skins.wireframe.mediaClasses.MuteButtonSkin");
}

NumericStepper
{
    skinClass: ClassReference("spark.skins.wireframe.NumericStepperSkin");
}

Panel
{
	skinClass: ClassReference("spark.skins.wireframe.PanelSkin");
}

RadioButton
{
	skinClass: ClassReference("spark.skins.wireframe.RadioButtonSkin");
}

ScrubBar
{
    skinClass: ClassReference("spark.skins.wireframe.mediaClasses.ScrubBarSkin");
}

Spinner
{
    skinClass: ClassReference("spark.skins.wireframe.SpinnerSkin");    
}

TextArea
{
	skinClass: ClassReference("spark.skins.wireframe.TextAreaSkin");
}

TextInput
{
	skinClass: ClassReference("spark.skins.wireframe.TextInputSkin");
}

ToggleButton
{
	skinClass: ClassReference("spark.skins.wireframe.ToggleButtonSkin");
}

VideoPlayer
{
	skinClass: ClassReference("spark.skins.wireframe.VideoPlayerSkin");
}

VolumeBar
{
    skinClass: ClassReference("spark.skins.wireframe.mediaClasses.VolumeBarSkin");
}

VScrollBar
{
	skinClass: ClassReference("spark.skins.wireframe.VScrollBarSkin");
}

VSlider
{
    skinClass: ClassReference("spark.skins.wireframe.VSliderSkin");
}

global {
	color: #2B4381;
}
