/*
 *
 *  Licensed to the Apache Software Foundation (ASF) under one or more
 *  contributor license agreements.  See the NOTICE file distributed with
 *  this work for additional information regarding copyright ownership.
 *  The ASF licenses this file to You under the Apache License, Version 2.0
 *  (the "License"); you may not use this file except in compliance with
 *  the License.  You may obtain a copy of the License at
 *
 *      http://www.apache.org/licenses/LICENSE-2.0
 *
 *  Unless required by applicable law or agreed to in writing, software
 *  distributed under the License is distributed on an "AS IS" BASIS,
 *  WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 *  See the License for the specific language governing permissions and
 *  limitations under the License.
 *
 */
@namespace mx "library://ns.adobe.com/flex/mx";
@namespace s "library://ns.adobe.com/flex/spark";

@font-face {
    src: url("../../../../Assets/Fonts/Open_Sans/OpenSans-Regular.ttf");
    fontFamily: "OpenSans";
    embedAsCFF: false;
}

@font-face {
    src: url("../../../../Assets/Fonts/Open_Sans/OpenSans-Bold.ttf");
    fontFamily: "OpenSans";
    fontWeight: bold;
    embedAsCFF: false;
}

@font-face {
    src: url("../../../../Assets/Fonts/Open_Sans/OpenSans-Italic.ttf");
    fontFamily: "OpenSans";
    fontStyle: italic;
    embedAsCFF: false;
}

@font-face {
    src: url("../../../../Assets/Fonts/Open_Sans/OpenSans-BoldItalic.ttf");
    fontFamily: "OpenSans";
    fontWeight: bold;
    fontStyle: italic;
    embedAsCFF: false;
}

@font-face {
    src: url("../../../../../Assets/Fonts/Open_Sans/OpenSans-Regular.ttf");
    fontFamily: "OpenSansSpark";
    embedAsCFF: true;
}

@font-face {
    src: url("../../../../../Assets/Fonts/Open_Sans/OpenSans-Bold.ttf");
    fontFamily: "OpenSansSpark";
    fontWeight: bold;
    embedAsCFF: true;
}

@font-face {
    src: url("../../../../../Assets/Fonts/Open_Sans/OpenSans-Italic.ttf");
    fontFamily: "OpenSansSpark";
    fontStyle: italic;
    embedAsCFF: true;
}

@font-face {
    src: url("../../../../../Assets/Fonts/Open_Sans/OpenSans-BoldItalic.ttf");
    fontFamily: "OpenSansSpark";
    fontWeight: bold;
    fontStyle: italic;
    embedAsCFF: true;
}

/* The Label in sone of the charts is Spark label for some reason. The charts swc has a 
   default style sheet which sets some, but not all of them to a mx:Label
*/
s|Label {
    fontFamily: "OpenSansSpark";
}
        
mx|DataTip {
    fontFamily: OpenSans;
    fontSize: 15;
}

global {
    fontFamily: "OpenSans";
    fontAntiAliasType: "normal";
}
