/*
////////////////////////////////////////////////////////////////////////////////
//
//  ADOBE SYSTEMS INCORPORATED
//  Copyright 2008 Adobe Systems Incorporated
//  All Rights Reserved.
//
//  NOTICE: Adobe permits you to use, modify, and distribute this file
//  in accordance with the terms of the license agreement accompanying it.
//
////////////////////////////////////////////////////////////////////////////////
*/

/* Default Skins */

FxButton
{
	skinZZ: ClassReference("mx.skins.spark.FxButtonSkin");
}

FxCheckBox
{
	skinZZ: ClassReference("mx.skins.spark.FxCheckBoxSkin");
}

FxDataComponent
{
	skinZZ: ClassReference("mx.skins.spark.FxDataContainerSkin");
}

FxHScrollBar
{
    skinZZ: ClassReference("mx.skins.spark.FxHScrollBarSkin");
}

FxHSlider
{
    skinZZ: ClassReference("mx.skins.spark.FxHSliderSkin");
}

FxContainer
{
	skinZZ: ClassReference("mx.skins.spark.FxContainerSkin");
}

FxList
{
	skinZZ: ClassReference("mx.skins.spark.FxListSkin");
}

FxNumericStepper
{
    skinZZ: ClassReference("mx.skins.spark.FxNumericStepperSkin");
}

FxRadioButton
{
	skinZZ: ClassReference("mx.skins.spark.FxRadioButtonSkin");
}

FxScroller
{
    skinZZ: ClassReference("mx.skins.spark.FxScrollerSkin");
}

FxSpinner
{
    skinZZ: ClassReference("mx.skins.spark.FxSpinnerSkin");    
}

FxTextArea
{
	skinZZ: ClassReference("mx.skins.spark.FxTextAreaSkin");
}

FxTextInput
{
	skinZZ: ClassReference("mx.skins.spark.FxTextInputSkin");
}

FxToggleButton
{
	skinZZ: ClassReference("mx.skins.spark.FxToggleButtonSkin");
}

FxVScrollBar
{
	skinZZ: ClassReference("mx.skins.spark.FxVScrollBarSkin");
}

FxVSlider
{
    skinZZ: ClassReference("mx.skins.spark.FxVSliderSkin");
}

.boldText 
{
	fontWeight: bold;
}

/* Override Flex 3 defaults */

FxApplication
{
	skinZZ: ClassReference("mx.skins.spark.FxApplicationSkin");
	backgroundGradientColors: #FFFFFF, #FFFFFF; /* TODO: remove this stuff */
}
