/*
///////////////////////////////////////////////////////////////////////////////
//
//  Copyright ("C") 2003-2005 Macromedia, Inc. All Rights Reserved.
//  The following is Sample Code and is subject to all restrictions
//  on such code as contained in the End User License Agreement
//  accompanying this product.
//
///////////////////////////////////////////////////////////////////////////////
*/

/**
//------------------------------
//   DataTip
//------------------------------
*/

DataTip
{
	backgroundColor: #FFFFFF;
}

/*
//--------------------------------
//  BarSeries
//--------------------------------
*/

BarSeries
{
	labelClass: ClassReference("mx.controls.Label");
}

/*
//--------------------------------
//  BarChart
//--------------------------------
*/

BarChart
{
	labelClass: ClassReference("mx.controls.Label");
}

/*
//--------------------------------
//  ColumnSeries
//--------------------------------
*/

ColumnSeries
{
	labelClass: ClassReference("mx.controls.Label");
}

/*
//--------------------------------
//  ColumnChart
//--------------------------------
*/

ColumnChart
{
	labelClass: ClassReference("mx.controls.Label");
}

/*
//--------------------------------
//  AxisRenderer
//--------------------------------
*/

AxisRenderer
{
	labelClass: ClassReference("mx.controls.Label");
}

